body {
  background-color: orange;
}
h1 {
  background-color: blue;
}
h2{
	background-color: black;
}
h3{
	background-color: black;
}

div {
  background-color: grey;
}

p {
  background-color: white;
}
body {
  background-color: orange;
}