input[type=submit] {
    background-color: #456ba0;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }
    
    input[type=submit]:hover {
    background-color: #456ba0;
    }

    input[type=reset] {
        background-color: #456ba0;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        }
        
        input[type=reset]:hover {
        background-color: #456ba0;
        }