<h2>My Contacts</h2>
<input class="form-control" [(ngModel)]="searchText" type="text" id="search" name="searchText" placeholder="Search..">
<table id="contactTable" border="1">
 <tr>
  <th>First Name</th>
  <th>Last Name</th>
  <th>Email</th>
  <th>Mobile Phone</th>
  <th>Home Phone</th>
  <th>Address</th>
  <th>Action</th>
</tr>
<tr style="color:white" *ngFor="let contact of contacts | contacts: searchText">
<th>{{contact.firstname}}</th>
<th>{{contact.lastname}}</th>
<th>{{contact.email}}</th>
<th>{{contact.mobile_phone}}</th>
<th>{{contact.home_phone}}</th>
<th>{{contact.address}}</th>
<th type="button" style="color:black" (click)="onDeleteContactSubmit(contact)">Delete</th>
</tr>
</table>
<!-- <table style="color:rgb(255, 255, 255)" *ngFor="let contact of mock_user.contacts">
    {{contact.mobile_phone}} {{contact.firstname}}
</table>  -->
<!-- <tr *ngFor="Let contact of mock_user.contacts"> -->
  <!-- {{contact.modible_phone}} {{contact.firstname}}
</tr> -->


<!-- <table id="contactList" class="mock_user.contacts">
  <thread>
    <tr>
      <th>Edit</th>
      <th>mobile phone</th>
      <th>Name</th>      
    </tr>
  </thread>
</table> -->