table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-color: white;
  }
  
  td, th, {
    border: 1px solid;
    text-align: left;
    padding: 8px;
    background-color: white;
  }
  
  tr:nth-child(even) {
    background-color: grey;
  }