<section class="jumbotron text-center">
  <div class="container">
    <h1>The MEAN Team</h1>
    <h2>Contact Manager</h2>

    <p class="lead">Keep track of all your contacts with our state of the art contact manager</p>
    <button type="button" routerLink="/contacts"
            *ngIf="authService.isLoggedIn()"
            class="btn btn-secondary btn-lg btn-block">My Contacts</button>
    <button type="button" routerLink="/contacts/create"
            *ngIf="authService.isLoggedIn()"
            class="btn btn-secondary btn-lg btn-block">Create a Contact</button>
      <div class="btn-group mr-2">
        <button type="button" routerLink="/register" *ngIf="!authService.isLoggedIn()" class="btn btn-primary btn-lg">Register</button>
      </div>
      <div class="btn-group mr-2">
        <button type="button" routerLink="/login" *ngIf="!authService.isLoggedIn()" class="btn btn-secondary btn-lg">Login</button>
      </div>
    </div>
</section>

<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>A rock solid Node.js/Express server using Mongoose to organize models and query the database</p>
  </div>
  <div class="col-md-4">
    <h3>Angular-CLI</h3>
    <p>Angular-CLI to generate components, services and more. Local dev server and easy compilation</p>
  </div>
  <div class="col-md-4">
    <h3>JWT Tokens</h3>
    <p>Full featured authentication using JSON web tokens. Login and store user data</p>
  </div>
</div>
