/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 47.9%;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

button[type=button] {
background-color: #456ba0;
color: white;
padding: 6px 5px;
border: none;
border-radius: 4px;
cursor: pointer;
}

button[type=button]:hover {
background-color: #456ba0;
}


/* different code testing...... */
