<html>
<body>
<div class="row">
    <!-- login -->
    <div class="column ">
        <h3 style="color:white"><font size="15">Login</font></h3>
        <form style="color:white">
          Username:
          <input id="logUsername" type="username" name="Username" placeholder="username..">
          <br>
          Password :
          <input id="logPassword" type="password" name="Password" placeholder="password..">
        </form>
        <br>
        <!-- sends user directly to contact list -->
        <!-- make this a button and connect to js with onclick do login function() -->
        <form>
            <button type="button"><a routerLink="/contactlist">Submit</a></button>
        </form>
      
      </div>
      <!-- end of first column -->
      <div class="column">
        <h3 style="color:white"><font size="15">Sign up</font></h3>
        <form style="color:white">
          Username:
          <input id="signupUser" type="username" name="Username" placeholder="username..">
          <br>
          Password :
          <input id="signupPassword" type="password" name="Password" placeholder="password..">
        </form>
        <br>
        
        <!-- sends user to add new contact -->
        <!-- make a button to conenct to js -->
        <form>
          <button type="button"><a routerLink="/contact">Submit</a></button>
        </form>
        
      <!-- end of second column -->
      </div>
      <!-- end of row-->
  </div>

</body>
</html>
